{% extends 'market/layout/main.html' %}

{% block content %} 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <h4> Registration form in Django </h4>
                                
                                <div>
                                    <hr/>
                                    <label for="">First name:</label> <br>
                                    {{ form.First_name }}
                                    {% if form.errors.First_name %}
                                        <label class="text-danger">{{ form.errors.First_name }}</label>
                                    {% endif %}
                                </div>

                                <div>
                                    <label for="">Last name:</label> <br>
                                    {{ form.Last_name }}
                                    {% if form.errors.Last_name %}
                                        <label class="text-danger">{{ form.errors.Last_name }}</label>
                                    {% endif %}
                                </div>

                                <div>
                                    <label for="">Username:</label> <br>
                                    {{ form.username }}
                                    {% if form.errors.username %}
                                        <label class="text-danger">{{ form.errors.username }}</label>
                                    {% endif %}
                                </div>

                                <div>
                                    <label for="">Email:</label> <br>
                                    {{ form.email }}
                                    {% if form.errors.email %}
                                        <label class="text-danger">{{ form.errors.email }}</label>
                                    {% endif %}
                                </div>
                                
                                <div>
                                    <label for="">Password:</label> <br>
                                    {{ form.password1 }}
                                    {% if form.errors.password1 %}
                                        <label class="text-danger">{{ form.errors.password1 }}</label>
                                    {% endif %}
                                </div>

                                <div>
                                    <label for="">Comfirm Password:</label> <br>
                                    {{ form.password2 }}
                                    {% if form.errors.password2 %}
                                        <label class="text-danger">{{ form.errors.password2 }}</label>
                                    {% endif %}
                                </div><br>
                                <button type="submit" class="btn float-end shadow btn-success px-4"> Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}