{% load static %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/chips.png' %}" height='400px' class="d-block w-40" alt="..." >
        </div>
        <div class="carousel-item">
            <img  src="{% static 'images/chipspizza.png' %}" height='400px' class="d-block w-40" alt="..." >
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/cooked.png' %}" height='400px' class="d-block w-40" alt="..." >
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/drink.png' %}" height='400px' class="d-block w-40" alt="..." >
        </div> 
        <div class="carousel-item ">
            <img  src="{% static 'images/eat.png' %}" height='400px' class="d-block w-40" alt="..." >
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/food.png' %}" height='400px' class="d-block w-40" alt="..." >
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/guacamole.png' %}" height='400px' class="d-block w-40" alt="..." >
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/hand.png' %}" height='400px' class="d-block w-40" alt="...">
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/kik.png' %}" height='400px' class="d-block w-40" alt="...">
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/nice.png' %}" height='400px' class="d-block w-40" alt="...">
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/hunter.png' %}" height='400px' class="d-block w-40" alt="...">
        </div>
        <div class="carousel-item ">
            <img  src="{% static 'images/potato.png' %}"  height='400px' class="d-block w-40" alt="...">
        </div>
    </div>
  </div>